{% extends 'base.html' %}
{% load static %}


{% block title %} Вход {% endblock %}


{% block content %}
    <div class="form-container">
        <h2>Вход</h2>
        <form method="post">
            {% csrf_token %}

            <label for="id_username">{{ form.username.label }}</label>
            {{ form.username }}

            <label for="id_password">{{ form.password.label }}</label>
            {{ form.password }}

            <button type="submit" class="btn save">Войти</button>
            {% if form.errors %}
                <div class="form-errors">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            <li>
                                <ul>
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </form>
        <h3>Нет аккаунта? <a href="{% url 'users:signup' %}">Зарегистрируйтесь</a></h3>
    </div>
{% endblock %}
